.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
  font-family: 'Lobster', cursive;
}

h1 {
  margin: 30px;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

.btn-container{
  text-align: center;
  padding: 4%;
}

.btn{
  border: 2px solid white;
  height: 50px;
  width: 200px;
  color: white;
  text-align: center;
}

.btn:focus{
  border-color: #4ECCA3;
  color: #4ECCA3;
}

.btn:hover{
  border-color: #4ECCA3;
  color: #4ECCA3;
}

.btn:active{
  border-color: #fff;
  color: #fff;
}

footer {
  padding-top: 1%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

.social-icon{
  padding: 0px 10px;
  color: #fff;
}

.social-icon:hover{
  color: #4ECCA3;
}

.social-icon:active{
  color: #fff;
}

.copyright{
  font-size: medium;
  margin-top: 2px;
}
